<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.maven.ide.eclipse.Maven2LaunchConfigurationType">
<booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
<stringAttribute key="M2_GOALS" value="clean install"/>
<booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
<booleanAttribute key="M2_OFFLINE" value="false"/>
<stringAttribute key="M2_PROFILES" value="it"/>
<listAttribute key="M2_PROPERTIES"/>
<stringAttribute key="M2_RUNTIME" value="EMBEDDED"/>
<booleanAttribute key="M2_SKIP_TESTS" value="false"/>
<booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
<booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk1.5.0_12"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dno_database_setup=true&#13;&#10;-Declipse.target.area1=${project_loc:ofmp}\runtime\server\core-runtime\target\eclipse_plugins&#13;&#10;-Declipse.target.area2=${project_loc:ofmp}\runtime\server\core-runtime\target\maven_plugins"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:/project/Cov_AS_OpenSource/ofmp"/>
</launchConfiguration>
